services:
  mongodb:
    image: mongo:latest
    environment:
      # These must exactly match the USER and PASSWORD variables above
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
    ports:
      - "27017:27017"